@font-face {
  font-family: 'Hollow';
  src: url('./fonts/RubikDirt-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

body {
  margin-top: 80px; 
  font-family: 'Hollow';  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  background-image: url("data:image/svg+xml,%3Csvg width='76' height='76' viewBox='0 0 76 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='76' height='76' fill='%23E5CFAF'/%3E%3Ccircle cx='38' cy='38' r='23' stroke='%23C07C2B' stroke-width='2'/%3E%3Cline x1='14' y1='37.558' x2='31.8605' y2='37.558' stroke='%23C07C2B' stroke-width='2'/%3E%3Cline x1='43.0233' y1='37.558' x2='60.8837' y2='37.558' stroke='%23C07C2B' stroke-width='2'/%3E%3Ccircle cx='37.4419' cy='37.4418' r='5.69767' stroke='%23C07C2B' stroke-width='2'/%3E%3Ccircle cx='37.4418' cy='37.4418' r='1.73256' stroke='%23C07C2B'/%3E%3C/svg%3E"); 
  background-color: #E5CFAF; 
  flex-direction: column;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Hollow',
    monospace;
}
